<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a class="navbar-brand" href="<%= root_path %>" style="padding-top: 0;">
          Taller Rails Inacap
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a href="#">Login</a>
    </ul>
  </div>
</nav>
