<div class="panel panel-default">
  <div class="panel-heading">Blog</div>
  <div class="panel-body">
    <ul>
      <li><a href="<%=posts_path%>">Posts</a></li>
      <li><a href="#">Usuarios</a></li>
    </ul>
  </div>
</div>

